.git
.github
.gitignore
.idea
.vscode
.env
.env.*
!.env.example
var
vendor
tests
.phpunit.cache
phpunit.xml
phpunit.dist.xml
*.md
docker-compose.dev.yml
Dockerfile.dev
compose.yaml
compose.override.yaml
public/bundles
public/assets
assets/vendor
